* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 317px;
  margin: 5rem auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: #1a1b21;
}

body {
  background-color: #23252c;
}

/* img {
  max-width: 100%;
} */

h1,
h2,
p {
  margin-top: 0;
}

h1 {
  color: #fff;

}

h2 {
  color: #f5f5f5;
  font-size: 16px;
}

p {
  font-size: 10.24px;
  color: #dcdcdc;
  font-weight: 400;
  line-height:150%
}

a {
  color: inherit;
  text-decoration: none;
}
.info__container__image {
  width: 317px;
  height: 317px;
}
.info__container__text > h1 {
  text-align: center;
  margin-top: 21px;
}
.info__container__text > h4 {
  text-align: center;
  margin-top: 6.19px;
  color: #f3bf99;
}
.info__container__text > p {
  text-align: center;
  margin-top: 8.81px;
}
.info__container__text__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-left: 11px;
}

.info__container___text__socials__email,
.info__container___text__socials__linkedin {
  display: flex;
  align-items: center;
  margin-right: 17px; 
}
.info__container___text__socials__email p{
  color: #374151 !important;
}
.info__container___text__socials__email {
  padding: 9px 28.5px 9px 28.5px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.info__container___text__socials__linkedin {
  background: #5093e2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 9px 18px 9px 18px;
  gap: 8px;
}
.info__container___text__socials__email img {
  margin-right: 5px;
}
.info__container___text__socials__linkedin img{
  margin-right: 4.3px; 
}

.info__container___text__socials__email p,
.info__container___text__socials__linkedin p {
  margin: 0;
}
.about__container{
  padding-left:46px;
  padding-right:36px;
  padding-bottom:27px;
}
.about__container h2{
  margin-bottom:5px;
  margin-top:33px;
}
.interests__container{
  padding-left:46px;
  padding-right:36px;
  padding-bottom:27px;
}
.interests__container h2{
  margin-bottom:5px;
}
.footer__container__socials{
  display:flex;
  align-items:center;
  justify-content:center;
  border: 19px solid #161619;
  background: #161619;
}
.footer__container__socials img{
  margin-right: 12px;
  margin-left: 12px;
}
